<tr>
  <td class="td-link"><%= link_to "View", work %></td>
  <td><%= link_to work.project, work.project %></td>
  <td><%= work.description %></td>
  <td><%= work.user %></td>
  <td><%= work.datetimeperformed.strftime('%m/%d/%Y %H:%M') %></td>
  <td><%= work.hours %> hr</td>
  <td><% if work.doc %><%= link_to '✓', "/uploads/#{work.doc}", :target => "_blank" %><% else %>✖<% end %></td>
</tr>
