<h1>New Work</h1>

<%= form_for @work do |f| %>
<div>
  
  <%= f.label :project_id %>
  <%= f.collection_select(:project_id, Project.all, :id, :name, prompt: true) %>

  <%= f.label :user_id %>
  <%= f.collection_select(:user_id, User.all.order('lname, fname'), :id, :to_s, prompt: true) %>

  <%= f.label :datetimeformed, 'Date/Time Performed' %>
  <%= f.datetime_select :datetimeperformed %>

  <%= f.label :hours %>
  <%= f.select(:hours, [1, 2, 3, 4, 5, 6, 7, 8], prompt: true) %>

  <br/>
  <%= f.text_field :user %>
  
</div>
<div>
  <%= f.submit "Create Work" %>
</div>
<% end %>
