<p><b>Date/Time Performed: </b><%= @work.datetimeperformed %></p>
<p><b>User: </b><%= @work.user.fname %> <%= @work.user.lname %></p>
<p><b>Hours: </b><%= @work.hours %> hr</p>

<br/>
<h3><%= link_to 'Edit Work', edit_work_path(@work) %></h3>
