<h3><%= link_to 'Edit Work', edit_work_path(@work), class: "edit" %></h3>
<h1><%= @work.project %></h1>

<p><b>Description: </b><%= @work.description %></p>
<p><b>Date/Time Performed: </b><%= @work.datetimeperformed %></p>
<p><b>User: </b><%= @work.user.fname %> <%= @work.user.lname %></p>
<p><b>Hours: </b><%= @work.hours %> hr</p>
<% if @work.doc %>
<p><b>Document attached: </b><%= link_to @work.doc, "/uploads/#{@work.doc}", :target => "_blank", id: "uploadBtn" %></p>
<% end %>
