<h1>New Project</h1>

<%= form_for @project do |f| %>
<div>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :slug %>
  <%= f.text_field :slug %>

  <%= f.label :default_rate %>
  <%= f.text_field :default_rate %>

  <%= f.label :company_id %>
  <%= f.collection_select(:company_id, Company.all, :id, :name, prompt: true) %>

</div>
<div>
  <%= f.submit "Create Project" %>
</div>
<% end %>
