<h3><%= link_to 'Edit Project', edit_project_path(@project), class: "edit" %></h3>
<h1><%= @project.name %></h1>
<h2><b>Owner: </b><%= @project.user %></h2>
<h2><b>Description: </b><%= @project.description %></h2>
<h3><b>Company: </b><%= @project.company.name %></h3>
<h3><b>Default Rate: </b><%= @project.default_rate %></h3>
<h4><b>Slug: </b><%= @project.slug %></h4>
<div class="remoteform">
  <h2>Add work to <%= @project.name %></h2>
  <%= render partial: 'works/form', locals: {doajax: true} %>
</div>
<% if @project.works.size > 0 %>
  <table class="table-fill">
    <thead id="headerrow">
      <th class="text-left">View</th>
      <th class="text-left">Project</th>
      <th class="text-left">Description</th>
      <th class="text-left">User</th>
      <th class="text-left">Date performed</th>
      <th class="text-left">Number of hours</th>
      <th class="text-left">File</th>
    </thead>
    <tbody>
      <%= render partial: "works/work", collection: @project.works %>
    </tbody>
  </table>
<% else %>
<h3 class="msg">There are no work items for this project yet.</h3>
<% end %>
